---
import { Icon } from "astro-icon/components";
const today = new Date();
---

<footer class="py-8 px-4 bg-gray-900 border-t border-gray-800 text-center">
  <div class="flex justify-center items-center space-x-4">
    <a
      href="https://brylie.bandcamp.com"
      target="_blank"
      class="text-gray-400 hover:text-blue-400 transition-colors p-2"
    >
      <span class="sr-only">Listen on Bandcamp</span>
      <Icon name="mdi:bandcamp" size={28} />
    </a>
    <a
      href="https://www.instagram.com/brylie.music"
      target="_blank"
      class="text-gray-400 hover:text-blue-400 transition-colors p-2"
    >
      <span class="sr-only">Follow on Instagram</span>
      <Icon name="mdi:instagram" size={28} />
    </a>
    <a
      href="https://soundcloud.com/brylie"
      target="_blank"
      class="text-gray-400 hover:text-blue-400 transition-colors p-2"
    >
      <span class="sr-only">Listen on SoundCloud</span>
      <Icon name="mdi:soundcloud" size={28} />
    </a>
    <a
      href="https://youtube.com/@brylie_music"
      target="_blank"
      class="text-gray-400 hover:text-blue-400 transition-colors p-2"
    >
      <span class="sr-only">Watch on YouTube</span>
      <Icon name="mdi:youtube" size={28} />
    </a>
  </div>
</footer>
